html, body
{
    height: 100%;
    padding: 0px;
    margin: 0px;

    background-color: rgb(50, 50, 50);
}

.scoreboard
{
    margin: 0px auto;
    width: 60%;
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: #4b4b4b;
}

.score
{
    margin-top: 10px;
}

.score:first-child
{
    margin-top: 0px;
}

.score_box, .legend_box
{
    display: inline-block;
    background-color: #666;
    margin-left: 1px;
    padding: 5px;
    line-height: 32px;
    vertical-align: middle;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    color: #ddd;
    box-sizing: border-box;
    cursor: default;
    font-size: 20px;
}

.score:nth-child(even) > .score_box
{
    background-color: #bbb;
    color: #222;
}

.score_box:first-child
{
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.score_box:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.legend_box:first-child
{
    margin-left: 0px;
    border-bottom-left-radius: 10px;
}

.legend_box:last-child
{
    border-bottom-right-radius: 10px;
}

.rank
{
    width: 40px;
    text-align: center;
    font-size: 24px;
}

.name
{
    width: -webkit-calc(20% - 1px);
}

.language
{
    width: -webkit-calc(20% - 10px);
}

.imp_time
{
    width: -webkit-calc(20% - 10px);
    text-align: center;
}

.run_time
{
    width: -webkit-calc(20% - 10px);
    text-align: center;
}

.code_size
{
    width: -webkit-calc(20% - 10px);
    text-align: center;
}
